# top level file exclusions
*
!.bash_aliases
!.bash_logout
!.bashrc
!.gitignore
!.tmux.conf 
!.vimrc

# files in .config
!.config/
./config/*
!.config/nvim/
./config/nvim/*
!.config/nvim/init.vim

# files in .ssh/
!.ssh/
.ssh/*
!.ssh/config

# files in .vim/colors/
!.vim/
.vim/*
!.vim/colors/
.vim/colors/*
!.vim/colors/lawndoc.vim
